@import "./mixins/margin-and-padding.styl"
initMg((20 top))
initMg((5 bottom))
initMg((20 bottom))
initMg((15 bottom))
initMg((10 right))
initMg((20 right))
initMg((30 right))
initMg((25 left))
initMg((15 left))
