@import "./varibales.styl"
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: $color-gray-bg-content;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ccc;
}
::-webkit-scrollbar {
  width: 4px;
  height: 16px;
  background-color: $color-gray-bg-content;
}