/*@import "./varibales.styl"*/

/*
.table-flex
  .table-flex-thead
    .table-flex-tr
      height 0.45rem
  .table-flex-tbody
    .table-flex-tr
      height 0.50rem
  .table-flex-tr
    padding 0.10rem 0
    display flex
    //&:last-child
    //  border-bottom none
    > .table-flex-th
      flex 1
      overflow hidden
      > span
        padding 0 0.12rem
        text-align center
    > .table-flex-td
      flex 1
      overflow hidden
      > span
        padding 0 0.12rem
        text-align center
    .table-flex-th
      height 100%
      display flex
      align-items center
      justify-content center
      //&:last-child
      //  border-right none
    .table-flex-td
      height 100%
      display flex
      align-items center
      justify-content center*/
