@import "./varibales-colors.styl"
/*** 布局 ***/
/** padding **/
// default
$padding-default = .20rem
$padding-left-default = $padding-default
$padding-right-default = $padding-default
$padding-top-default = .14rem
$padding-bottom-default = $padding-top-default
// header
$line-height-header = 0.46rem

// sub
$padding-sub = .1rem
$padding-left-sub = $padding-sub
$padding-right-sub = $padding-sub
$padding-top-sub = $padding-sub
$padding-bottom-sub = $padding-top-sub

// main right content
$padding-main-right-content = 0.12rem

/*** font ***/
/** font-size **/
$font-size-default = 0.14rem

$font-size-s = 0.12rem
$font-size-m = $font-size-default
$font-size-ml = 0.16rem

$font-size-header = $font-size-ml
$font-size-footer = $font-size-s
$font-size-price = 0.22rem
// description
$font-size-description-title = 0.18rem
$font-size-description-price = 0.2rem

/** font-weight **/
$font-weight-default = 700
