/*** 颜色 ***/
$color-bg-not-allowed = #f5f5f5
$color-bg-btn-not-allowed = #e2e2e2
/** 白色 **/
$color-white-default = #ffffff

/** 灰色 **/
// 默认
$color-gray-default = #cccccc
$color-gray-bg-header = #f5f7f9
$color-gray-bg-content = #fafbfc
$color-gray-bg-footer = #f0f0f2
/** 紫色 **/
$color-violet-font = #6646b6
$color-violet-bg-light = #9a7ab8
/** 绿色 **/
$color-green-hover = #37a481

/** font **/
$color-font-default = #4c4859

/** btn **/
$color-btn-main = #8d70de
$color-btn-green = #46b692

/** nav **/
$color-bg-nav-main = #67268e
$color-bg-nav-main-select = #490c71
$color-font-nav-main = #e4deea
$color-font-nav-main-sub = #9e9fa3
$color-font-nav-main-sub-select = #59008f
$color-shadow-nav-main-sub = #ebecee

/** side-bar **/
$color-bg-side-bar-filter = #f5f4f7
$color-font-side-bar-filter-sub-item-selected = #7c7984
$color-font-side-bar-filter-sub-item = #adb0c1
$color-icon-side-bar-filter-sub-item = #c2bfd2

/** border **/
$color-border-default = #ecedee
$color-border-table = #c8ccc3
$color-border-sort-tab = #e5e5e5
$color-border-description = #e3e4e5
$color-border-description-parameter = #ecebed
$color-border-product-edit-wrapper = #dde9fe
$color-border-input = #e9e7e7

/** header **/
$colo-bg-header-main = $color-violet-font
$color-font-header-main = #777682

/** edit **/
$color-font-step-guide = #a975c9
$color-bg-step-guide = #59008f
$color-border-upload-image = #cccccc
$color-border-focus = #614e6d



